mixin aboutarticle
 article
  section.row
    h5
    section.col-12.col-m-12.col-c-12.ab
      header
        h1 About me
      p
        | I am a fourth year undergraduate at
        br
        | Ryerson Univeristy. My major is in
        br
        | BSc. My main interest is in web and
        br
        | mobile app development.
  section.row.rr
    header
      h1 Hobbies
  section.row
    h5
    section.col-4.col-c-9.col-m-6.pic
      h5
      figure
        img.im(src='http://4vector.com/i/free-vector-counter-strike_047802_counter-strike.png', alt='game', width='400', height='328')
        figcaption Gaming is something I do often. My most played game is CSGO.
    section.col-4.col-c-9.col-m-6.pic
      h5
      figure
        img.im(src='https://s-media-cache-ak0.pinimg.com/736x/76/4b/8d/764b8d94fb0b71a68364e9adcefbca18.jpg', alt='New Laptop', width='400', height='328')
        figcaption Programming is my favourite activity to do during my free time.
    section.col-4.col-c-9.col-m-6.pic
      h5
      figure
        img.im(src='https://img.clipartfest.com/f27b2d2e244a23cc895744b8532cf614_soccer20player20clipart-soccer-player-clipart-black-and-white_745-795.svg', alt='soccer', width='400', height='328')
        figcaption Soccer is my favourite sport. I mainly watch soccer.
		
mixin reactarticle
 figure
  img(src='https://raw.githubusercontent.com/wiki/facebook/react/react-logo-1000-transparent.png', alt='React image', width='550', height='528')
  figcaption React allows developers to create large web applications that use data which can change over time, without reloading the page. Its main goal is to be fast, simple and scalable. React processes only user interface in applications. This corresponds to View in the Model-View-Controller (MVC) template, and can be used in combination with other JavaScript libraries or frameworks in MVC, such as AngularJS[6]. It can also be used with React based on add-ons to take care of without the user interface parts of web developing.

mixin laptoparticle
 article
  section.row.a
    h5
    section.col-2
      h1
      p
    section.col-3.col-m-3.con
      h1  x360 HP Laptop
    section.col-3.col-m-6.col-c-9
      h4 Specifications
      ul
        li i7 processor
        li 8GB of RAM
        li (rumored)1TB SSD
        li 15 Hour battery life
        li 1.31kg
        li Intel HD Graphics 5500
    section.col-3.col-m-12.col-c-9
      h5
      figure.lt
        img(src='http://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c05389880.png', alt='New Laptop', width='550', height='328')
        figcaption New HP Laptop featuring added battery life
  section.row.a
    h5
    section.col-2
      h1
      p
    section.col-3.col-m-3.col-c-9
      h1 Dell XPS 13
    section.col-3.col-m-6.col-c-9
      h4 Specifications
      ul
        li i5 or i7 processor
        li 8GB of RAM
        li 128 or 256gb
        li 18 Hour battery life
        li 1.32kg
        li Intel HD Graphics 520
    section.col-3.col-m-12.col-c-9
      h5
      figure.lt
        img(src='http://i.dell.com/sites/imagecontent/products/PublishingImages/xps-13-9350-laptop/laptop-xps-13-9350-pdp-polaris-03.jpg', alt='New Laptop', width='550', height='328')
        figcaption New XPS dell laptop featuring great performance.