footer 
	a(href='http://www.facebook.com')
		img(src='https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png', height='20',width='20')
	Copyright &copy; Ibrahim Jaafar 2017