mixin homenav
 nav
  section.row
    section.col-12.col-m-12.col-c-12
      ul.pull-right
        li.opac
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/laptop') XPS vs SPECTRE 13
		  
mixin aboutnav
 nav
  section.row
    section.col-12.col-m-12.col-c-12
      ul.pull-right
        li
          a(href='/') Home
        li.opac
          a(href='/about') About
        li
          a(href='/laptop') XPS vs SPECTRE 13
		  
mixin laptopnav
 nav
  section.row
    section.col-12.col-m-12.col-c-12
      ul.pull-right
        li
          a(href='/') Home
        li
          a(href='/about') About
        li.opac
          a(href='/laptop') XPS vs SPECTRE 13